.loginContainer {
  background-color: #f0f6ff;
  height: 100%;
}
.loginForm {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 238px;
}
.commonInput {
  position: relative;
}
.commonInput input {
  width: 100%;
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  line-height: 24px;
  outline: none;
  color: #373740;
  font-family: "Pretendard";
}
.commonInput input.error {
  border: 1px solid #ff5b56;
}
.commonInput input:focus {
  border: 1px solid #6d6afe;
}
.commonInput input::placeholder {
  color: #9fa6b2;
}
.commonInput label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}
.commonInput:not(:first-of-type) label {
  margin-top: 24px;
}
.submitButton {
  cursor: pointer;
  width: 100%;
  padding: 16px 2px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  font-family: "Pretendard";
  border: none;
  margin-top: 30px;
}
/* 비밀번호 input */
.commonInput button {
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 31px;
  transform: translateY(50%);
  width: 16px;
  height: 16px;
  border: none;
  background: none;
}

/* erro 텍스트 */
.errorText {
  font-size: 14px;
  margin-top: 6px;
  color: #ff5b56;
}
