.kebabModal {
  z-index: 2;
  position: absolute;
  bottom: 40px;
  right: -59px;
  width: 100px;
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
}
.kebabModal li:last-of-type button {
  background: rgba(231, 239, 251, 1);
  color: rgba(109, 106, 254, 1);
}
.kebabModal button {
  cursor: pointer;
  width: 100%;
  background: #fff;
  border: none;
  padding: 7px 0px;
  font-size: 1.4rem;
}
