.notFoundContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  text-align: center;
}

.notFoundContainer p {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.notFoundContainer a {
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #111322;
  border-radius: 8px;
  color: #fff;
}
